@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overlock&display=swap');


:root{
    --Soft-blue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);
    --Very-dark-blue-main-BG: hsl(217, 54%, 11%);
    --Very-dark-blue-card-BG: hsl(216, 50%, 16%);
    --Very-dark-blue-line: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);
    --Link: hsl(228, 45%, 44%);
    --PaginatorBG: #0099cc;
}

.paginatorItems{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:stretch;

}

.paginarotItemsDiv{

    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
}

.pagElement{
    margin: 0.5rem;
    font-size: 1rem;
    border-radius: 0.2rem;

}


.paginarotItemsDiv button{
    border-radius: 0.2rem;
    border: 1px solid var(--PaginatorBG);
    background-color: var(--PaginatorBG);
    color: #ffffff;
    padding: 0px 10px;
    font-family: 'Outfit', sans-serif;
    font-family: 'Overlock', sans-serif;
}

h1{
    font-size: 1.2rem;
    color:var(--White)
}