@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overlock&display=swap');


:root{
    --Soft-blue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);
    --Very-dark-blue-main-BG: hsl(217, 54%, 11%);
    --Very-dark-blue-card-BG: hsl(216, 50%, 16%);
    --Very-dark-blue-line: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);
    --Link: hsl(228, 45%, 44%);
    --PaginatorBG: #0099cc;
}


.containerOps{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    border-radius: 0.9rem;
    padding: 1rem;
    color: var(--White)

}


.containerFilters{

    border-radius: 0.9rem;
    padding: 1rem;

}



.searchInputs{

    border-radius: 0.9rem;
    padding: 1rem;

}

.selectOptions{
    border: 1px solid var(--PaginatorBG);
    border-radius: 0.3rem;
    background-color: var(--PaginatorBG);
    padding: 0.1rem;
    color: var(--White);
    font-size: small;
    font-weight: 500;
    font-family: 'Outfit', sans-serif;
    font-family: 'Overlock', sans-serif;

}