.containerOps{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid goldenrod;
    border-radius: 0.9rem;
    padding: 1rem;
    margin-bottom: 1rem;
}
