:root{
    --Soft-blue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);
    --Very-dark-blue-main-BG: hsl(217, 54%, 11%);
    --Very-dark-blue-card-BG: hsl(216, 50%, 16%);
    --Very-dark-blue-line: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);
    --Link: hsl(228, 45%, 44%);
}


.mainContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* border: 1px solid blue; */
    border-radius: 0.9rem;
    padding: 1rem;
    color:var(--White);
}

.mainContainerLink{

    color:var(--Soft-blue);

}

